<div class = "filter-bar">

	<span uib-dropdown on-toggle="toggled(open)" auto-close = "outsideClick" >
	     <a class = "filter-names" href id="simple-dropdown" uib-dropdown-toggle>
	       Genres<span ng-repeat="list in genre_list">{{list.genre_name}},</span><b class="caret"></b>
	     </a>
	     <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" >
	     <ul>
	     	Search: <input type = "text" placeholder = "search genres" ng-model = "searchGenre.genre_name" />
	     	<li ng-repeat="genre in genres | filter:searchGenre" ng-class = "{true: 'filter-selected', false: ''}[genre.selected == true]" ng-click="addToFilter(genre)">
	     		{{genre.genre_name}}
	     	</li>
	     </ul>
	     </ul>
	</span>

	

	                     
</div>
