.main-container{
	width: 100%
}

.left-container{
	width: 20%;
} 

.center-container{
	width: 60%;
	padding-top: 50px;
}

.right-container{
	width: 20%;
}

.left-nav{
	padding: 50px 10%;
}
.left-nav ul{
	padding: 0px;
}

.left-nav li
{
	list-style: none;
	padding: 20px;
	display: inline-block;
	width: 100%;
	border: 1px solid $borderColor;
}

.inline-block{
	display: inline-block;
	vertical-align: top;
}

.center-block{
	width: 100%;
}

.masonry-brick{
	background-color: white;
	height: 100px;
	border: 1px solid $borderColor;
	width: 50%;
	margin-bottom: 10px;
}

.grid-sizer,
.masonry-brick { width: 100%; display: block;  }

@media screen and (min-width: 850px) {
.grid-sizer,
.masonry-brick { width: 49%; display: block;min-width: 0px; }
.gutter-sizer { width: 2%; }
.right-block{display:inline-block;}

}
