.filter-bar{
	display: inline-block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid $borderColor;
}

.filter-selected{
	background-color: green;
}

.filter-names{
	display: inline-block;
	padding: 15px 5px;
} 
