$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
*
{
	box-sizing: border-box;
}
$backgroundColor: #2f4154;
$borderColor: #e1e8ed;
$backgroundColorTabs: #1abc9c;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	background-color: $backgroundColorTabs;
	color: white;
}

.navbar-default .navbar-nav > li > a
{
	border-left: 1px solid $backgroundColor;
	border-right: 1px solid $backgroundColor;
}

.inline-block{
	display: inline-block;
	vertical-align: top;
}



*
{
  box-sizing: border-box;
}

 .Modal-backdrop
 {
   position: fixed;
   top: 0px;
   left: 0px;
   height:100%;
   width:100%;
   background: #000;
   z-index: 1;
   opacity: 0.5;
}

.Modal-holder
{
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;

}
.Modal-box
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
}

@media screen and (min-width: 992px)
{
  .Modal-box
  {
    width: 50%;
    padding: 0px;
  transition: padding 2s;
    padding: 30px;

  }
}







// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin.scss';
@import 'discover/discover.scss';
@import 'main example/main.scss';
@import 'main/main.scss';
@import '../components/filtersBar/filtersBar.scss';
@import '../components/footer/footer.scss';
@import '../components/loginModal/loginModal.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
